.header {
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-right: 10px;
    gap: 15px;
}
.header-Buttons {
    display: flex;
    gap: 10px;
}