.header {
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    gap: 15px;
}
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
}
.header-Buttons {
    display: flex;
    gap: 10px;
}
@media(min-width:768px){
    .header {
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    gap: 15px;
}
}