@media(max-width:767px){
.formWrapper {
   background-color: #f8f8f8;
}
.textTitle {
    padding-top: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 45px;
}
.number {
    font-size: 12px;
    color: #7E7E7E;
    padding-left: 10px;
}
.TitleContainer{
    width: 300px;
}
.TitlePositionSelect {
    font-size: 16px;
    line-height: 26px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}
.uploaderWrapper {
display: flex;
justify-content: center;
align-items: center;
padding-top: 40px;
}
.radioButtonsWrapper {
    align-items: flex-start;
}
.ButtonWrapperForm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 95px;
}
.radioButtonsWrapper {
display: flex;
flex-direction: column;
}
.FormRadioButtons{
    padding-left: 5%;
}
}

@media(min-width:768px){
    .FormRadioButtons {
     width: 45%;
    display: flex
;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
}
.formWrapper {
   background-color: #f8f8f8;
}
.textTitle {
    padding-top: 130px;
    width: 550px;
   width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 45px;
}
.number {
    font-size: 12px;
    color: #7E7E7E;
    padding-left: 10px;
}
.TitlePositionSelect {
    font-size: 16px;
    line-height: 26px;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
}
.uploaderWrapper {
display: flex;
justify-content: center;
align-items: center;
padding-top: 40px;
}
.ButtonWrapperForm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 95px;

}
.radioButtonsWrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
}
.FormRadioButtons {
    display: flex
;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: start;
}
@media(min-width:1024px){
    .FormRadioButtons{
        padding-left: 12%;
    }
    .textTitle{
        padding-top: 140px;
    }
}
@media(min-width:1030px){
    .FormRadioButtons{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:0px;
    }

}
.radioContainer {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 328px;
}
.formWrapper {
    display: flex;
    flex-direction: column;

}