
.headline{
            background-image:url('../../../../static/pexels-alexandr-podvalny-1227513.jpeg');
}
@media(min-width:768px){
        .headline{
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    background-clip: border-box;
    background-size: cover;
      position: relative;
    }
    .headline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); 
    z-index: 1;
  }
    .HeadlineContainer {
    position: relative;
    z-index: 2; 
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
  }
    .TopSectionHeadline{
        display: flex;
         justify-content: center;
        align-items: center;
        padding-top: 90px;
        width: 400px;
        color: white;
    }
    .headline-text {
        width: fit-content;
        color: white;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        text-align: center;
    }
    .FooterSectionHeadline {
        padding-top: 30px;
    }
}
@media(max-width:767px){
    .headline{
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    background-clip: border-box;
    background-size: cover;
      position: relative;
    }
    .headline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); 
    z-index: 1;
  }
    .HeadlineContainer {
    position: relative;
    z-index: 2; 
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
  }
    .TopSectionHeadline{
        display: flex;
         justify-content: center;
        align-items: center;
        padding-top: 40px;
        width: 300px;
        color: white;
    }
    .headline-text {
        width: fit-content;
        color: white;
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 320px;
        text-align: center;
    }
    .FooterSectionHeadline {
        padding-top: 35px;
    }
}
@media(min-width:1023){
    .TopSectionHeadline{
        width:380px;
    }
}
@media(min-width:1024px){
    .headline{
        height: 650px;
    }
    .TopSectionHeadline{
                padding-top: 170px;

    }

}